
body{
    height: 100vh;
}
.banner {
    background-image: url('../../../assets/images/hotel.jpg');
    height: 100vh;
    background-position: center top;
    background-size: cover;
}
.banner.container
{
   border-radius: 2px solid black;
    align-items: center;
}
.form-label1
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 7%;
}
.form-label2
{
    font-weight: bold;
    font-size: 20px;
   
}
.form-label3
{
    font-weight: bold;
    font-size: 20px;
   
}
.btn{
    margin-top: 7px;
}

.main-heading
{
    margin-top: 5px;
   
}


/* .container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
   s
} */

.formContainer {
    max-width:320px;
    box-shadow : 4px 8px 16px #d7d7d7;
    margin:0 auto;
    padding:20px;
    border-radius:0px 0px 4px 4px;
  }
  input {
    box-shadow:none !important;
    outline:none;
  }
  #btnHolder {
    margin:0px -20px -20px -20px;
  }
  #btnHolder .btn {
    border-radius:0px 0px 4px 4px !important;
    height:60px;
  }
  @media screen and (max-width:766px){
    .centerOnMobile {
      margin : 20vh auto
    }
  }
  @media screen and (min-width:767px){
    #mainBgn {
      background : url('../../../assets/images/hotel.jpg') no-repeat;
      background-size:cover;
      background-position:center;
      height:90vh;
      width:100%;
    }
    #mainContainer {
      box-shadow : 2px 4px 12px rgba(0,0,0,0.4);
      height:90vh;
      margin: 5vh 20px;
    }
  }




  