<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          
          <a
            routerLink="['app-home']"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true" (click)="goto('home')">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home Page</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple " (click)="goto('hotelowner/addhotel')"  >
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Add Hotel Owner</span>
          </a>
  
          <a  class="list-group-item list-group-item-action py-2 ripple " (click)="goto('hotelowner/listhotel')"  >
            <i class="fas fa-chart-area fa-fw me-3"></i><span>List Hotel Owner</span>
          </a>

          <a class="list-group-item list-group-item-action py-2 ripple " (click)="goto('hotelowner/addhoteldetails')"  >
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Add Hotel Details</span>
          </a>

          <a class="list-group-item list-group-item-action py-2 ripple " (click)="goto('hotelowner/listhoteldetails')"  >
            <i class="fas fa-chart-area fa-fw me-3"></i><span>List Hotel Details</span>
          </a>
          
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  bg-light fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
            height="25"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Search form -->
        <form class="d-none d-md-flex input-group w-auto my-auto">
          <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder='Search (ctrl + "/" to focus)'
            style="min-width: 225px;"
          />
          <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
        </form>
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
  
          <!-- Icon -->
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li>
          <!-- Icon -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
  
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="flag-united-kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="flag-united-kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i
                ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </li>
  
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                class="rounded-circle"
                height="22"
                alt="Avatar"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
<!-- 
   <main style="margin-top: 58px;" class="container">
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <h1>List Hotel Details</h1>
        <br>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Hotel Name</th>
                <th scope="col">Location</th>
                <th scope="col">City</th>
                <th scope="col">Service</th>
                <th scope="col">Single Room</th>
                <th scope="col">Single Room Charge</th>
                <th scope="col">Doubble Room</th>
                <th scope="col">Doubble Room Charge</th>
                <th scope="col">Rating</th>
                <th scope="col">Hotel Owner</th>
                <th scope="col">Id</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of hotelList" >
                <td>{{data.hotelName}}</td>
                <td>{{data.location}}</td>
                <td>{{data.city}}</td>
                <td>{{data.Service}}</td>
                <td>{{data.singleRoom}}</td>
                <td>{{data.singleRoomCharge}}</td>
                <td>{{data.doubleRoom}}</td>
                <td>{{data.doubleRoomCharge}}</td>
                <td>{{data.rating}}</td>
                 <td>{{data.hotelOwner}}</td>
                <td>{{data.id}}</td> 
                
              </tr>
            </tbody>
          </table>
       
    </div>
    


  </main>  -->

   <!-- <section class="intro"> 
    <div class="gradient-custom-1 h-100">-->
      <!-- <div class="mask d-flex align-items-center h-100"> 
       
      
        <div class="container">
          <br>
          <br>
          <br>
        <br>
       
        <h2 >List Hotel Details</h2>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Hotel Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">City</th>
                      <th scope="col">Service</th>
                      <th scope="col">Single Room</th>
                      <th scope="col">Single Room Charge</th>
                      <th scope="col">Doubble Room</th>
                      <th scope="col">Doubble Room Charge</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Hotel Owner</th>
                      <th scope="col">Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of hotelList" >
                      <td>{{data.hotelName}}</td>
                      <td>{{data.location}}</td>
                      <td>{{data.city}}</td>
                      <td>{{data.service}}</td>
                      <td>{{data.singleRoom}}</td>
                      <td>{{data.singleRoomCharge}}</td>
                      <td>{{data.doubleRoom}}</td>
                      <td>{{data.doubleRoomCharge}}</td>
                      <td>{{data.rating}}</td>
                       <td>{{data.hotelOwner}}</td>
                      <td>{{data.id}}</td> 
                      
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
         </div>
       </div> -->
    <!-- </div>
   </section>   --> 
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <!-- <div class="container py-5 h-100">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="table-responsive bg-white">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Hotel Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">City</th>
                  <th scope="col">Service</th>
                  <th scope="col">Single Room</th>
                  <th scope="col">Single Room Charge</th>
                  <th scope="col">Doubble Room</th>
                  <th scope="col">Doubble Room Charge</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Hotel Owner</th>
                  <th scope="col">Id</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of hotelList" >
                  <td>{{data.hotelName}}</td>
                  <td>{{data.location}}</td>
                  <td>{{data.city}}</td>
                  <td>{{data.service}}</td>
                  <td>{{data.singleRoom}}</td>
                  <td>{{data.singleRoomCharge}}</td>
                  <td>{{data.doubleRoom}}</td>
                  <td>{{data.doubleRoomCharge}}</td>
                  <td>{{data.rating}}</td>
                   <td>{{data.hotelOwner}}</td>
                  <td>{{data.id}}</td> 
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
                  </div> -->
                  <div class="container py-5 h-100 mr-5">
                    <br>
                    <br>
                    <br>
                    <div class="row justify-content-center align-items-center h-100">
                      <div class="col-12 col-lg-12 col-xl-10">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                          <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">List Hotel Details</h3>
                            <div class="table-responsive bg-white">
                              <table class="table mb-0">
                                <thead>
                                  <tr>
                                    <th scope="col">Hotel Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Single Room</th>
                                    <th scope="col">Single Room Charge</th>
                                    <th scope="col">Doubble Room</th>
                                    <th scope="col">Doubble Room Charge</th>
                                    <th scope="col">Rating</th>
                                    <th scope="col">Hotel Owner</th>
                                    <th scope="col">Id</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of hotelList" >
                                    <td>{{data.hotelName}}</td>
                                    <td>{{data.location}}</td>
                                    <td>{{data.city}}</td>
                                    <td>{{data.service}}</td>
                                    <td>{{data.singleRoom}}</td>
                                    <td>{{data.singleRoomCharge}}</td>
                                    <td>{{data.doubleRoom}}</td>
                                    <td>{{data.doubleRoomCharge}}</td>
                                    <td>{{data.rating}}</td>
                                     <td>{{data.hotelOwner}}</td>
                                    <td>{{data.id}}</td> 
                                    
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
        
                  
                 
         
  </body>
  </html>
  
   <!-- </div>   -->
    